.arena-page
  height: 100%
  width: 100%
  min-height: $min-height
  background: url($base-uri + "public/images/BG_arena.jpg") no-repeat
  background-size: cover
  .arena
    background: url($base-uri + "public/images/BG.jpg") no-repeat
    background-size: cover
    .line
      display: flex
    .pirate
      @include element('pirate')
    .marines
      @include element('marines')
    .wall
      @include element('wall')
    .knife
      @include element('knife')
    .shootgun
      @include element('shootgun')
    .bloc
      background-size: contain
      background-color: rgba($color: $bg-modal, $alpha: 0.5)
