.fight-page
  background: url($base-uri + "public/images/BG_home2.jpg") no-repeat
  background-size: cover
  min-height: $min-height
  .fight
    height: 100%
    width: 100%
    display: flex
    flex-direction: column
    .fight-body
      height: 650px
      img
        height: auto
        width: 200px
      .fight-info
        width: 40%
        height: 450px
        color: #D2AA4F