$primary: #1955b5
$body-color: #FFF
$bg-modal: #3191c4
$base-uri: "/"
$bg-form: rgba($color: #b8b06c, $alpha: 0.7)
$input-border-color: $primary
$input-border-width: .3rem
$input-border-radius: 10rem
$input-placeholder-color: $primary
$input-font-size: 2rem
$input-padding-x: 5rem
$input-height: 4rem
$input-bg: rgba($color: #b8b06c, $alpha: 0.2)
$card-bg: $bg-form
$card-color: $primary
$font-size-base: $primary
$btn-padding-x: 2rem
$btn-padding-y: .7rem
$btn-font-size: 2rem
$btn-border-radius: 10rem
