.arena
  background: rgba(11, 74, 89, 0.7)
  .line
    display: flex
  .pirate
    background: url($base-uri + "public/images/arena/pirate.png") no-repeat center
  .marines
    background: url($base-uri + "public/images/arena/marines.png") no-repeat center
  .wall
    background: url($base-uri + "public/images/arena/wall.png") no-repeat center
  .bloc
    background-size: contain